.idea/workspace.xml
/android
**/.idea/dataSources.*
/community
/config
/contrib
/out
/system
/test-system
/test-config
/bin/*.log
.DS_Store
*.pyc
*~
python/helpers/*.class
/bin/null
python/lib/cachedir
/ruby/gemsData
*.patch
/flex-ide
/flex/tools/flexmojos-flex-configs-generator/idea-configurator/src/main/java/com/intellij/flex/maven/IdeaConfiguratorFlexmojos5.java
/flex/tools/flexunit-support/out
project.xcworkspace/
xcuserdata/

.idea
